<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=MyServer;Initial Catalog=MyDatabase;Integrated Security=False;User ID=myUsername;Password=myPassword;" />
  </connectionStrings>
</configuration>